<div>
    <h2 data-translate="appsmysqlApp.tuyenDt.home.title">Tuyen Dts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tuyen-dt.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="appsmysqlApp.tuyenDt.home.createLabel">
                        Create new Tuyen Dt
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'appsmysqlApp.tuyenDt.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ma"><span data-translate="appsmysqlApp.tuyenDt.ma">Ma</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ten"><span data-translate="appsmysqlApp.tuyenDt.ten">Ten</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soNgay"><span data-translate="appsmysqlApp.tuyenDt.soNgay">So Ngay</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span data-translate="appsmysqlApp.tuyenDt.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hscnId"><span data-translate="appsmysqlApp.tuyenDt.hscnId">Hscn Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tuyenDt in vm.tuyenDts track by tuyenDt.id">
                    <td><a ui-sref="tuyen-dt-detail({id:tuyenDt.id})">{{tuyenDt.id}}</a></td>
                    <td>{{tuyenDt.ma}}</td>
                    <td>{{tuyenDt.ten}}</td>
                    <td>{{tuyenDt.soNgay}}</td>
                    <td>{{tuyenDt.active}}</td>
                    <td>{{tuyenDt.hscnId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tuyen-dt-detail({id:tuyenDt.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tuyen-dt.edit({id:tuyenDt.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tuyen-dt.delete({id:tuyenDt.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
