<div>
    <h2 data-translate="appsmysqlApp.ctHuong.home.title">Ct Huongs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ct-huong.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="appsmysqlApp.ctHuong.home.createLabel">
                        Create new Ct Huong
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'appsmysqlApp.ctHuong.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="keysl"><span data-translate="appsmysqlApp.ctHuong.keysl">Keysl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="keyYp"><span data-translate="appsmysqlApp.ctHuong.keyYp">Key Yp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maDv"><span data-translate="appsmysqlApp.ctHuong.maDv">Ma Dv</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soBhxh"><span data-translate="appsmysqlApp.ctHuong.soBhxh">So Bhxh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maNv"><span data-translate="appsmysqlApp.ctHuong.maNv">Ma Nv</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hoTen"><span data-translate="appsmysqlApp.ctHuong.hoTen">Ho Ten</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mucLuong"><span data-translate="appsmysqlApp.ctHuong.mucLuong">Muc Luong</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ngayDuyet"><span data-translate="appsmysqlApp.ctHuong.ngayDuyet">Ngay Duyet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nguoiDuyet"><span data-translate="appsmysqlApp.ctHuong.nguoiDuyet">Nguoi Duyet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loaiDt"><span data-translate="appsmysqlApp.ctHuong.loaiDt">Loai Dt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maNt"><span data-translate="appsmysqlApp.ctHuong.maNt">Ma Nt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mlTt"><span data-translate="appsmysqlApp.ctHuong.mlTt">Ml Tt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maCd"><span data-translate="appsmysqlApp.ctHuong.maCd">Ma Cd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maNh"><span data-translate="appsmysqlApp.ctHuong.maNh">Ma Nh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tuNgay"><span data-translate="appsmysqlApp.ctHuong.tuNgay">Tu Ngay</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="denNgay"><span data-translate="appsmysqlApp.ctHuong.denNgay">Den Ngay</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tuNgayH"><span data-translate="appsmysqlApp.ctHuong.tuNgayH">Tu Ngay H</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="denNgayH"><span data-translate="appsmysqlApp.ctHuong.denNgayH">Den Ngay H</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soNgay"><span data-translate="appsmysqlApp.ctHuong.soNgay">So Ngay</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soNgayH"><span data-translate="appsmysqlApp.ctHuong.soNgayH">So Ngay H</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soNgayLk"><span data-translate="appsmysqlApp.ctHuong.soNgayLk">So Ngay Lk</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soTien"><span data-translate="appsmysqlApp.ctHuong.soTien">So Tien</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soTienH"><span data-translate="appsmysqlApp.ctHuong.soTienH">So Tien H</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soNamBh"><span data-translate="appsmysqlApp.ctHuong.soNamBh">So Nam Bh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soThangBh"><span data-translate="appsmysqlApp.ctHuong.soThangBh">So Thang Bh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soNgayLkdv"><span data-translate="appsmysqlApp.ctHuong.soNgayLkdv">So Ngay Lkdv</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ghiChu"><span data-translate="appsmysqlApp.ctHuong.ghiChu">Ghi Chu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dk1"><span data-translate="appsmysqlApp.ctHuong.dk1">Dk 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dk2"><span data-translate="appsmysqlApp.ctHuong.dk2">Dk 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dk5"><span data-translate="appsmysqlApp.ctHuong.dk5">Dk 5</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dk6"><span data-translate="appsmysqlApp.ctHuong.dk6">Dk 6</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tuoiCon"><span data-translate="appsmysqlApp.ctHuong.tuoiCon">Tuoi Con</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sttCon"><span data-translate="appsmysqlApp.ctHuong.sttCon">Stt Con</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gioiTinh"><span data-translate="appsmysqlApp.ctHuong.gioiTinh">Gioi Tinh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maQt"><span data-translate="appsmysqlApp.ctHuong.maQt">Ma Qt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dkBenhDai"><span data-translate="appsmysqlApp.ctHuong.dkBenhDai">Dk Benh Dai</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dkPhauthuat"><span data-translate="appsmysqlApp.ctHuong.dkPhauthuat">Dk Phauthuat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dkNghionha"><span data-translate="appsmysqlApp.ctHuong.dkNghionha">Dk Nghionha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dkSuygiamld"><span data-translate="appsmysqlApp.ctHuong.dkSuygiamld">Dk Suygiamld</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dkXacsyt"><span data-translate="appsmysqlApp.ctHuong.dkXacsyt">Dk Xacsyt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dk3Ca"><span data-translate="appsmysqlApp.ctHuong.dk3Ca">Dk 3 Ca</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ngay1"><span data-translate="appsmysqlApp.ctHuong.ngay1">Ngay 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tenCon"><span data-translate="appsmysqlApp.ctHuong.tenCon">Ten Con</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stt"><span data-translate="appsmysqlApp.ctHuong.stt">Stt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maQl"><span data-translate="appsmysqlApp.ctHuong.maQl">Ma Ql</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maTinh"><span data-translate="appsmysqlApp.ctHuong.maTinh">Ma Tinh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loaidc"><span data-translate="appsmysqlApp.ctHuong.loaidc">Loaidc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lydodc"><span data-translate="appsmysqlApp.ctHuong.lydodc">Lydodc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ghichudc"><span data-translate="appsmysqlApp.ctHuong.ghichudc">Ghichudc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loaiBenh"><span data-translate="appsmysqlApp.ctHuong.loaiBenh">Loai Benh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tuyenBv"><span data-translate="appsmysqlApp.ctHuong.tuyenBv">Tuyen Bv</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lbqhs"><span data-translate="appsmysqlApp.ctHuong.lbqhs">Lbqhs</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lbqml"><span data-translate="appsmysqlApp.ctHuong.lbqml">Lbqml</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="troCap"><span data-translate="appsmysqlApp.ctHuong.troCap">Tro Cap</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="troCapBh"><span data-translate="appsmysqlApp.ctHuong.troCapBh">Tro Cap Bh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dk3"><span data-translate="appsmysqlApp.ctHuong.dk3">Dk 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dk4"><span data-translate="appsmysqlApp.ctHuong.dk4">Dk 4</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tyleh"><span data-translate="appsmysqlApp.ctHuong.tyleh">Tyleh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ngayNuoi"><span data-translate="appsmysqlApp.ctHuong.ngayNuoi">Ngay Nuoi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soNgayCd"><span data-translate="appsmysqlApp.ctHuong.soNgayCd">So Ngay Cd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ngayNghiList"><span data-translate="appsmysqlApp.ctHuong.ngayNghiList">Ngay Nghi List</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vssid"><span data-translate="appsmysqlApp.ctHuong.vssid">Vssid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tuNgayBs"><span data-translate="appsmysqlApp.ctHuong.tuNgayBs">Tu Ngay Bs</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="denNgayBs"><span data-translate="appsmysqlApp.ctHuong.denNgayBs">Den Ngay Bs</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chk1"><span data-translate="appsmysqlApp.ctHuong.chk1">Chk 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chk2"><span data-translate="appsmysqlApp.ctHuong.chk2">Chk 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chk3"><span data-translate="appsmysqlApp.ctHuong.chk3">Chk 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ctHuong in vm.ctHuongs track by ctHuong.id">
                    <td><a ui-sref="ct-huong-detail({id:ctHuong.id})">{{ctHuong.id}}</a></td>
                    <td>{{ctHuong.keysl}}</td>
                    <td>{{ctHuong.keyYp}}</td>
                    <td>{{ctHuong.maDv}}</td>
                    <td>{{ctHuong.soBhxh}}</td>
                    <td>{{ctHuong.maNv}}</td>
                    <td>{{ctHuong.hoTen}}</td>
                    <td>{{ctHuong.mucLuong}}</td>
                    <td>{{ctHuong.ngayDuyet | date:'medium'}}</td>
                    <td>{{ctHuong.nguoiDuyet}}</td>
                    <td>{{ctHuong.loaiDt}}</td>
                    <td>{{ctHuong.maNt}}</td>
                    <td>{{ctHuong.mlTt}}</td>
                    <td>{{ctHuong.maCd}}</td>
                    <td>{{ctHuong.maNh}}</td>
                    <td>{{ctHuong.tuNgay | date:'medium'}}</td>
                    <td>{{ctHuong.denNgay | date:'medium'}}</td>
                    <td>{{ctHuong.tuNgayH | date:'medium'}}</td>
                    <td>{{ctHuong.denNgayH | date:'medium'}}</td>
                    <td>{{ctHuong.soNgay}}</td>
                    <td>{{ctHuong.soNgayH}}</td>
                    <td>{{ctHuong.soNgayLk}}</td>
                    <td>{{ctHuong.soTien}}</td>
                    <td>{{ctHuong.soTienH}}</td>
                    <td>{{ctHuong.soNamBh}}</td>
                    <td>{{ctHuong.soThangBh}}</td>
                    <td>{{ctHuong.soNgayLkdv}}</td>
                    <td>{{ctHuong.ghiChu}}</td>
                    <td>{{ctHuong.dk1}}</td>
                    <td>{{ctHuong.dk2}}</td>
                    <td>{{ctHuong.dk5}}</td>
                    <td>{{ctHuong.dk6}}</td>
                    <td>{{ctHuong.tuoiCon}}</td>
                    <td>{{ctHuong.sttCon}}</td>
                    <td>{{ctHuong.gioiTinh}}</td>
                    <td>{{ctHuong.maQt}}</td>
                    <td>{{ctHuong.dkBenhDai}}</td>
                    <td>{{ctHuong.dkPhauthuat}}</td>
                    <td>{{ctHuong.dkNghionha}}</td>
                    <td>{{ctHuong.dkSuygiamld}}</td>
                    <td>{{ctHuong.dkXacsyt}}</td>
                    <td>{{ctHuong.dk3Ca}}</td>
                    <td>{{ctHuong.ngay1 | date:'medium'}}</td>
                    <td>{{ctHuong.tenCon}}</td>
                    <td>{{ctHuong.stt}}</td>
                    <td>{{ctHuong.maQl}}</td>
                    <td>{{ctHuong.maTinh}}</td>
                    <td>{{ctHuong.loaidc}}</td>
                    <td>{{ctHuong.lydodc}}</td>
                    <td>{{ctHuong.ghichudc}}</td>
                    <td>{{ctHuong.loaiBenh}}</td>
                    <td>{{ctHuong.tuyenBv}}</td>
                    <td>{{ctHuong.lbqhs}}</td>
                    <td>{{ctHuong.lbqml}}</td>
                    <td>{{ctHuong.troCap}}</td>
                    <td>{{ctHuong.troCapBh}}</td>
                    <td>{{ctHuong.dk3}}</td>
                    <td>{{ctHuong.dk4}}</td>
                    <td>{{ctHuong.tyleh}}</td>
                    <td>{{ctHuong.ngayNuoi | date:'medium'}}</td>
                    <td>{{ctHuong.soNgayCd}}</td>
                    <td>{{ctHuong.ngayNghiList}}</td>
                    <td>{{ctHuong.vssid}}</td>
                    <td>{{ctHuong.tuNgayBs | date:'medium'}}</td>
                    <td>{{ctHuong.denNgayBs | date:'medium'}}</td>
                    <td>{{ctHuong.chk1}}</td>
                    <td>{{ctHuong.chk2}}</td>
                    <td>{{ctHuong.chk3}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ct-huong-detail({id:ctHuong.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ct-huong.edit({id:ctHuong.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ct-huong.delete({id:ctHuong.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
