
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHscnLabel" data-translate="appsmysqlApp.hscn.home.createOrEditLabel">Create or edit a Hscn</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.hscn.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.hscn.id" readonly />
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.soBhxh" for="field_soBhxh">So Bhxh</label>
            <input type="text" class="form-control" name="soBhxh" id="field_soBhxh"
                    ng-model="vm.hscn.soBhxh"
                    required/>
            <div ng-show="editForm.soBhxh.$invalid">
                <p class="help-block"
                    ng-show="editForm.soBhxh.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.hoTen" for="field_hoTen">Ho Ten</label>
            <input type="text" class="form-control" name="hoTen" id="field_hoTen"
                    ng-model="vm.hscn.hoTen"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <select>
                <option value="nam">Nam</option>
                <option value="nu">Nu</option>
            </select>
			<label class="control-label" data-translate="appsmysqlApp.hscn.gioiTinh" for="field_gioiTinh">Gioi Tinh</label>
            <input type="text" class="form-control" name="gioiTinh" id="field_gioiTinh"
                    ng-model="vm.hscn.gioiTinh"
                    />
        </div>
        <div class="form-group col-xs-6"">
            <label class="control-label" data-translate="appsmysqlApp.hscn.ngaySinh" for="field_ngaySinh">Ngay Sinh</label>
            <input type="date" class="form-control" name="ngaySinh" id="field_ngaySinh"
                    ng-model="vm.hscn.ngaySinh"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.soCmnd" for="field_soCmnd">So Cmnd</label>
            <input type="text" class="form-control" name="soCmnd" id="field_soCmnd"
                    ng-model="vm.hscn.soCmnd"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.diaChiLh" for="field_diaChiLh">Dia Chi Lh</label>
            <input type="text" class="form-control" name="diaChiLh" id="field_diaChiLh"
                    ng-model="vm.hscn.diaChiLh"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.ngayCap" for="field_ngayCap">Ngay Cap</label>
            <input type="number" class="form-control" name="ngayCap" id="field_ngayCap"
                    ng-model="vm.hscn.ngayCap"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.noiCap" for="field_noiCap">Noi Cap</label>
            <input type="text" class="form-control" name="noiCap" id="field_noiCap"
                    ng-model="vm.hscn.noiCap"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.dan_toc" for="field_dan_toc">Dan Toc</label>
            <input type="text" class="form-control" name="dan_toc" id="field_dan_toc"
                    ng-model="vm.hscn.dan_toc"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.quoc_tich" for="field_quoc_tich">Quoc Tich</label>
            <input type="text" class="form-control" name="quoc_tich" id="field_quoc_tich"
                    ng-model="vm.hscn.quoc_tich"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.noi_khai" for="field_noi_khai">Noi Khai</label>
            <input type="text" class="form-control" name="noi_khai" id="field_noi_khai"
                    ng-model="vm.hscn.noi_khai"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.diachiHK" for="field_diachiHK">Diachi HK</label>
            <input type="text" class="form-control" name="diachiHK" id="field_diachiHK"
                    ng-model="vm.hscn.diachiHK"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.dien_thoai" for="field_dien_thoai">Dien Thoai</label>
            <input type="text" class="form-control" name="dien_thoai" id="field_dien_thoai"
                    ng-model="vm.hscn.dien_thoai"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.hscn.email"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.chuc_vu" for="field_chuc_vu">Chuc Vu</label>
            <input type="text" class="form-control" name="chuc_vu" id="field_chuc_vu"
                    ng-model="vm.hscn.chuc_vu"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.maPB" for="field_maPB">Ma PB</label>
            <input type="text" class="form-control" name="maPB" id="field_maPB"
                    ng-model="vm.hscn.maPB"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.phong_ban" for="field_phong_ban">Phong Ban</label>
            <input type="text" class="form-control" name="phong_ban" id="field_phong_ban"
                    ng-model="vm.hscn.phong_ban"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.maCV" for="field_maCV">Ma CV</label>
            <input type="text" class="form-control" name="maCV" id="field_maCV"
                    ng-model="vm.hscn.maCV"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.maNV" for="field_maNV">Ma NV</label>
            <input type="text" class="form-control" name="maNV" id="field_maNV"
                    ng-model="vm.hscn.maNV"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.noicapBHXH" for="field_noicapBHXH">Noicap BHXH</label>
            <input type="text" class="form-control" name="noicapBHXH" id="field_noicapBHXH"
                    ng-model="vm.hscn.noicapBHXH"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.maDT" for="field_maDT">Ma DT</label>
            <input type="text" class="form-control" name="maDT" id="field_maDT"
                    ng-model="vm.hscn.maDT"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" data-translate="appsmysqlApp.hscn.maBV" for="field_maBV">Ma BV</label>
            <input type="text" class="form-control" name="maBV" id="field_maBV"
                    ng-model="vm.hscn.maBV"
                    />
        </div>
        </div>

        <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label" data-translate="appsmysqlApp.hscn.ghi_chu" for="field_ghi_chu">Ghi Chu</label>
            <input type="text" class="form-control" name="ghi_chu" id="field_ghi_chu"
                    ng-model="vm.hscn.ghi_chu"
                    />
        </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
